#body-home{
    width: 100%;
    height: fit-content;
}


#header-home{
    width: 100%;
    height: 660px;
    background-image:url("./../../../public/imagesHome/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}


#header-home p{
    color: #33333384;
    font-size: 28px; 
    font-weight: bold; 
    margin-bottom: 20px; 
}


#Title{
    position: absolute;
    left: 38%;
    top: 18%;
}


@media screen and (max-width: 768px) {
    #header-home {
      height: 300px; 
    }
}

